
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {  
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; /* Limitar tamanho de todas as caixas contando padding e margin */
}

:root {
    --cinza: #F4F4F4;
    --azul: #095A99;
    --azul-escuro: #02365F;
    --preto: #000000;
    --cinza-medio: #B6B6B6;
    --cinza-suave: #E3E3E3;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cinza);
    font-family: 'Roboto';
    font-size: 1rem;
}




section.titulo {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

section.titulo > h1 {
    font-size: 5rem;
    color: var(--azul-escuro)
}

section.titulo > p {
    max-width: 800px;
    text-align: center;
}

section.titulo > a {
    font-weight: bold;
    text-decoration: underline;
    color: var(--preto)
}


section.grafico {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 70px auto;
}

section.grafico .botoes {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}

section.grafico .botoes > span {
    background-color: var(--cinza-medio);
    color: var(--branco);
    padding: 4px 15px;
    border-radius: 10px;
    cursor: pointer;
}

section.grafico .botoes span.ativo {
    background-color: var(--azul);
}

.chart-mes {
    display: none important!;
}


section.lista-tweets {    
    background-color: var(--cinza-suave);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

section.lista-tweets .titulo-tweets {
    background-color: var(--azul-escuro);
    padding: 20px 40px;
    border-radius: 15px;
    position: relative;
    top: -50px;
}

section.lista-tweets .titulo-tweets > p {
    font-size: 1rem;
    color: var(--branco);
    
}

div.containers {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

div.containers div.tweets-termo {
    margin-top: 15px;
    height: 500px;
    width: 290px;
    background-color: var(--azul);
    overflow-y: auto;
    padding: 15px 10px;
    border-radius: 10px;
}

/* estilizando o scrollbar */

.tweets-termo::-webkit-scrollbar {
    width: 10px;
}
  
.tweets-termo::-webkit-scrollbar-track {    
    border-radius: 100px;
}

.tweets-termo::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: var(--azul-escuro);
}


div.containers .cont > p {
    text-align: center;
    font-weight: bold;
}

blockquote {
    width: 180px;
}

section.noticias {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.noticias > h2 {
    font-size: 2rem;
}


section.noticias .lista-noticias {
    margin: 50px 0; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 1100px;
    gap: 40px;
}

section.noticias .lista-noticias img {
    width: auto;
    height: 135px;
    margin-bottom: 10px;
    
}

a {
    color: var(--preto);
}

a:hover {
    color: #353535;
}

section.noticias .lista-noticias a {
    width: 250px;
    height: auto;
    overflow:hidden;
    
}

section.noticias .lista-noticias h2 {
    font-size: 1.1rem;
}

section.pop-up {
    /* centralizar container branco na tela */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 630px;
    height: 470px;         

    box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.07);
    border-radius: 30px;    

    padding: 30px 30px;

    background-color: #391b93ee;
    border: 2px solid #FFFFFF;

    transition: all 0.5s ease-out;
    
    /* ocultar */
    display: block;

    /* z-index: 300;

    color: #FFFFFF; */
}


div.btn-pop-up {
    height: 5px;
    display: flex;
    justify-content: flex-end;
    
}

p#fechar-pop-up {
    width: 45px;
    height: 45px;
    position: relative;
    text-align: center;
    right: -48px;
    top: -48px;
    background-color: #1e0b56;
    border: 2px solid #fff;
    border-radius: 99px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    cursor: pointer;
    
}



/* 

blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
  }
  
blockquote.twitter-tweet p {
font-size: 16px;
font-weight: normal;
line-height: 20px;
}

blockquote.twitter-tweet a {
color: inherit;
font-weight: normal;
text-decoration: none;
outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
text-decoration: underline;
} */
